<html>
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  </head>
  <h1>Đây là Component App</h1>
  <ul>
    <li>
      <a class="btn btn-success" routerLink="/test" routerLinkActive="active">TestComponent</a>
    </li>
    <li>
      <a class="btn btn-success" routerLink="/home" routerLinkActive="active">HomeComponent</a>
    </li>
    <li>
      <a class="btn btn-success" routerLink="/people" routerLinkActive="active">PeopleComponent</a>
    </li>
    <li>
      <a class="btn btn-success" routerLink="/category" routerLinkActive="active">CategoryComponent</a>
    </li>
  </ul>
<body>
  <router-outlet></router-outlet>
</body>

<footer>
        <div class="text-primary">
            Test Angular (Footer)
        </div>
</footer>

</html>
