
  <div class="row" style="padding-left: 100px ;">
    <div class="col-md-4">
      <select  class="form-select " (change)="ngOnChanges($event)"  style="width:300px">
        <option *ngFor="let city of cities" value="{{city.Province}}">{{city.Province}} </option>
      </select>
    </div>
    <div class="col-md-4">
      <select class="form-select " style="width:300px">
        <option *ngFor="let district of districtsnew " value="{{district}}"> {{district}} </option>
      </select>
    </div>
  </div>


<div class="container" style="margin-top : 30px">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">Height</th>
            <th scope="col">TransferVal</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let person of Person;let index = index">
            <th scope="row">{{index}}</th>
            <td>{{person.Name}}</td>
            <td [ngClass]="{'text-danger fw-bold' : person.Age > 25}">{{person.Age}}</td>
            <td>{{person.Height}}</td>
            <td>{{person.TransferVal}}</td>

            <td>{{ person.TransferVal | onSale | uppercase }}</td>
          </tr>
        </tbody>
      </table>
</div>

